[submodule "Core/extern/glfw"]
	path = Core/extern/glfw
	url = https://github.com/glfw/glfw
[submodule "Core/extern/spdlog"]
	path = Core/extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Core/extern/glm"]
	path = Core/extern/glm
	url = https://github.com/g-truc/glm
[submodule "Core/extern/stb"]
	path = Core/extern/stb
	url = https://github.com/nothings/stb
[submodule "Core/extern/vma"]
	path = Core/extern/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Core/extern/assimp"]
	path = Core/extern/assimp
	url = https://github.com/assimp/assimp
[submodule "Core/extern/entt"]
	path = Core/extern/entt
	url = https://github.com/skypjack/entt
